@import url('https://fonts.googleapis.com/css2?family=Judson:wght@400;700&display=swap');

body {
    font-family: 'Judson', serif;
} 


.wrap-all {
    width: 900px;
    margin: 0 auto;
    padding: 20px;
    background-color: #F5F5F5;
}

.main-card {
    font-size: 25px;
    font-weight: 400;
    width: 900px;
    height: 300px;
    padding-top: 50px; 
    padding-left: 80px;
    margin-bottom: 20px;
    border-radius: 16px;
    background-image: url(image/img_main_landscape.png);
    background-size: cover;
    line-height: 150%;
}

.card {
    width: 210px;
    border-radius: 16px;
    overflow: hidden;
}

.card-image {
    color: black;
    font-size: 10px;
    font-weight: 900;
    width: 210px;
    height: 150px;
    background-size:cover;
}

.card-01 .card-image {
    background-image: url(image/img_card01.jpg);
}

.card-02 .card-image {
    background-image: url(image/img_card02.jpg);
}

.card-03 .card-image {
    background-image: url(image/img_card03.jpg);
}

.card-04 .card-image {
    background-image: url(image/img_card04.jpg);
}

.card{
    border-radius: 16px;
    background-color: rgb(255, 255, 255);
    width: 210px;
    overflow: hidden;
}

.card-intro {
    font-size: 20px;
    line-height: 90%;
    padding:20px;
    padding-top: 0px;
    color:#364A3B;
}

section {
    display: flex;
    gap: 20px;
    width: 900px;
}
footer{
    text-align: center;
    color:#8E9475;
}